- line :name
- line :ngroup
- line :position
- line_link :fund
- line_link :setting
- line_link :frame
- line_link :trigger
-#- line_link :host
- line :refresh
-#- line :delta
-#- line :date
-#- line_time :start_time
-#- line_time :stop_time
- line_boolean :active
- line_boolean :single
-#- line :status
