- line :name
- line :ngroup
-#- line :position
- line_name :setting
- line_name :fund
- line_name :frame
- line_name :host
- line_link :trigger
- line :position
- line :refresh
- line_boolean :active
- line_boolean :single
- line :command
- line_time :start_time
- line_time :stop_time
- line :status
- line_date :updated_at, :long
