# Ignore OS directory tmp files
.directory 
**/.directory
.DS_Store
**/.DS_Store

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
.sass-cache

# Ignore lock files
Gemfile.lock
~lock.*

# Ignore RubyMine files
.idea


# Ignore encrypted secrets key file.
config/secrets.yml.key
