/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */
@import "variables";

/*==================================================== Global ========================================================*/

body, p, ol, ul, td, div, input, textarea, select {
  font-family: arial, helvetica, sans-serif;
  text-align: left;
  font-size: $font-size;
  color: $text;
  //line-height: 18px;
  text-align: left;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

div {
  display: block;
  float: left;
}

table {
  border: 0px;
  padding: 0px;
  margin: 0px;
  font-size: $font-size;
  border-collapse: collapse;
  th, td {
    border: 0px;
    padding: 0px;
    margin: 0px;
  }
}

img {
  border: 0px;
}

/*========================================================== Layout =================================================*/

.center {
  width: 80%;
  min-width: 800px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

table.header {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  min-width: 800px;
  margin-top: 30px;
  td.logo {
    vertical-align: top;
    width: 65px;
    height: 80px;
    //    max-height: 80px;
    //    display: inline-block;
    overflow: hidden;
    //    background-color: burlywood;
    img {
      width: 65px;
      height: 80px;
    }
    //    white-space: nowrap;
  }
  td.title_canvas {
    //    float: left;
    //    width: 600px;
    height: 80px;
    overflow: hidden;
    vertical-align: top;

    //    max-height: 80px;
    padding: 0px 5px 0px 10px;
    canvas {
      z-index: 1;
      position: relative;
      top: 0px;
      left: 0px;
      height: 80px;
      width: 100%;
      border: 1px $border solid;
      //      background-color: yellowgreen;
    }
    img {
      //      float: left;
      z-index: 1;
      position: relative;
      top: 0px;
      left: 0px;
      //      width: 600px;
      height: 80px;
    }
    #message {
      //      float: left;
      z-index: 2;
      position: relative;
      left: 0px;
      top: -80px;
      height: 0px;
    }
  }
  td.right_block {
    vertical-align: top;
    //    background: yellow;
    height: 80px;
    //    width: auto;
    width: 150px;
    //    min-width: 50px;
    //    overflow: hidden;
    //    width: 100%;
    //    max-height: 80px;
    #eugenelab {
      float: right;
      clear: both;
      font-size: 20pt;
      a {
        text-decoration: none;
        color: $text;
      }
    }
    #login {
      float: right;
      margin: 0px;
      padding-left: 15px;
      display: none;
      form {
        margin: 0px;
        padding: 0px;
        float: left;
        width: 100%;
        border: 0px;
        input {
          //          font-size: $font-size-small;
          height: 16px;
          float: left;
        }
        input.email {
          width: 130px;
        }
        input.password {
          margin-top: 5px;
          width: 75px;
        }
        input[type=submit] {
          float: right;
          height: 22px;
          width: 45px;
          margin-top: 5px;
        }
      }
    }

    #lang {
      float: right;
      clear: both;
      height: 20px;
      padding-top: 31px;
      margin-right: -2px;
      //      form {
      //        select {
      //          text-align: right;
      //          border-radius: 0;
      //          background: transparent;
      //          height: 18px;
      //          width: auto;
      //          width: 80px;
      //          padding-right: 10px;
      ////          padding: 0px 5px 0px 15px;
      //          border: 0;
      //          line-height: 1;
      //          -webkit-appearance: none;
      //          outline:none;
      //          display: inline-block;
      ////          width: 268px;
      //          font-size: $font-size;
      //          border: 1px $border solid;
      //        }
      //      }
    }
  }
  td.main-menu {
    width: 100%;
    padding-top: 12px;
    text-align: right;
    a {
      margin-left: 10px;
    }
  }
}

.lang {
  float: right;
  clear: both;
  height: 24px;
  margin-right: -2px;
}

footer {
  padding-top: 20px;
  clear: both;
  height: 20px;
  #email {
    float: left;
  }
  #info {
    padding-left: 20px;
  }
  #copyright {
    //    margin: 5px;
    float: right;
  }
}

.header {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 10px;
  .title {
    float: left;
    clear: both;
    .lights {
      float: left;
      clear: both;
      margin-left: 10px;
      width: 145px;
      min-width: 145px;
    }
    .title {
      float: left;
      clear: both;
      font-weight: bold;
      margin-left: 13px;
    }
    .rate {
      float: right;
      margin-right: 10px;
    }
  }
}

.light {
  float: left;
  margin-right: 2px;
}

.menu {
  float: right;
  margin-right: 10px;
  a {
    margin-left: 5px;
  }

}

.control {
  float: right;
  margin-right: 10px;
  clear: both;
  a {
    margin-left: 5px;
  }
}

.main {
  clear: both;
  float: left;
  //  min-width: 1400px;
  margin-left: 10px;
  margin-top: 5px;
  //  width: 100%;
  //  height: 100%;
}

/*=================================================== Classes =======================================================*/

.line {
  float: left;
  clear: both;
  margin-bottom: 5px;
  a {
    padding-left: 5px;
    text-decoration: none;
    color: $text;
    font-weight: bold;
  }
  a:hover {
    text-decoration: underline;
  }
}

.action {
  float: left;
  clear: both;
}

div.right {
  float: right;
  padding-right: 20px;
}

span.right {
  float: right;
  padding-right: 5px;
}

div.label {
  float: left;
  font-weight: normal;
  margin: 0px 10px 0px 0px;
}

.show {
  float: left;
  font-weight: bold;
  margin-right: 10px;
}

.currency {
  float: left;
}

table.list {
  float: left;
  clear: both;
  margin-left: 2px;
  margin-right: 20px;
  td, th {
    padding: 2px 4px 2px 4px;
    border: 1px $border solid;
  }
  td.watch {
    text-align: center;
  }
  td.right {
    text-align: right;
  }
  td.arrow {
    text-align: center;
    border: 1px $border solid;
    img {
      width: 12px;
      height: 14px;
    }
  }
  th.arrow {
    width: 36px;
    img {
      //      float: left;
      width: 10px;
      height: 14px;
    }
  }
  form.button_to {
    input[type=submit] {
      border:1px solid $border;
      margin: 1px;
      padding: 1px 3px 1px 3px;
      //height: 20px;
    }
  }
}

.paginate {
  float: left;
  clear: both;
  margin-bottom: 5px;
}

.red {
  color: red;
  padding-right: 3px;
}

.green {
  color: green;
  padding-right: 3px;
}

.blue {
  color: blue;
  padding-right: 3px;
}

/*==================================================== Rails =========================================================*/
.flash {
  float: left;
  clear: both;
  margin: 5px;
}

#flash_info {
  color: white;
  background-color: yellowgreen;
  padding: 0px 10px 0px 10px;
}

#flash_notice {
  color: white;
  background-color: green;
  padding: 0px 10px 0px 10px;
}

#flash_error {
  color: red;
  font-weight: bold;
  //background-color: red;
  padding: 0px 10px 0px 10px;
  h2 {
    margin: 0px;
    padding: 0px;
  }
  p {
    color: red;
  }
  ul {
    margin: 0px;
    padding: 5px 10px 10px 30px;
  }
  li {
    font-weight: normal;
    color: red;
  }
}

#flash_alert {
  color: white;
  background-color: blue;
  padding: 0px 10px 0px 10px;
}

table.rails {
  td, th {
    border: 1px solid $border;
    padding: 3px;
  }

}

form {
  float: left;
  clear: both;
  #error_explanation {
    color: red;
  }
  .field {
    float: left;
    clear: both;
    width: 100%;
    padding-top: 5px;
    .field_with_errors {
      label {
        float: left;
        padding-top: 5px;
      }
      input, select {
        float: left;
        margin-left: 10px;
        border: 1px solid red;
      }
    }
    label {
      float: left;
      padding-top: 5px;
    }
    input, select {
      float: left;
      margin-left: 10px;
    }
    textarea {
      float: left;
      margin-left: 10px;
      height: 100px;
    }
  }
  .actions {
    padding-top: 5px;
    float: right;
    clear: both;
  }
}

/*=================================================== Extras =========================================================*/

.empty-form {
  border: 0px;
  padding: 0px;
  margin: 0px;
  width: auto;
}

.upload-form {
  position: relative;
  border: 0px;
  padding: 0px;
  margin: 0px;
  .wrapper {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    z-index: 2;
    :hover {
      opacity: 0.5;
    }
  }
  input[type=image] {
    position: relative;
    top: 0;
    z-index: 1;
  }
}

.check_box {
  float: left;
}


/*=================================================== Crystal =========================================================*/

.crystal {
  float: left;
  border: 1px $border solid;
  padding: 5px;
  .amount {
    clear: both;
    float: left;
    font-weight: bold;
  }
  .profit {
    clear: both;
    float: left;
    font-weight: bold;
  }
  .robot {
    clear: both;
    float: left;
  }
  .out {
    clear: both;
    float: left;
  }

}

table.crystal {
  border: 1px $border solid;
  th {
    padding: 2px 0px 2px 0px;
    color: $text;
    font-size: $font-size-small;
    font-weight: lighter;
    border: 1px $border solid;
    text-align: center;
  }
  th.dimension {
    font-size: $font-size-smallest;
  }
  tr.edge {
    //    float: left;
    //    clear: both;
    //    margin-top: 2px;
    //      margin-right: -10px;
    //    width: 100%;
    //      padding: 2px 1px 1px 3px;
    //      padding: 2px;
    //    border: 1px $border solid;
  }
}

.button_hide_show {
  float: right;
  margin: 0px 0px 0px 0px;
}

.block {
  float: left;
  clear: both;
  border: 1px $border solid;
  margin-top: 15px;
  padding: 10px 5px 5px 5px;
  .label {
    margin-top: -19px;
    background: white;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: bold;
  }
}

#date-form {
  float: left;
  margin-bottom: 15px;
}

/*================================================== Indicator =======================================================*/

//#indicator-list {
//  float: left;
//  width: 200px;
//  #fund-name {
//    float: left;
//  }
//  #fund-rate {
//    float: right;
//  }
//}

.arrow {
  float: left;
  width: 16px;
  height: 16px;
}

.indicator {
  float: left;
  clear: both;
  width: 1100px;
  margin-top: 3px;
  .title {
    float: left;
    font-weight: bold;
  }
  .state {
    float: left;
  }
}

.canvas-indicator {
  float: left;
  clear: both;
  width: 1100px;
  height: 100px;
  border: 1px $border solid;
}

table.indicator {
  float: left;
  margin-bottom: 5px;
  th, td {
    border: 1px $border solid;
    padding: 2px;
    font-weight: normal;
    text-align: center;
  }
  th.angle {
    color: brown;
  }
  th.trend {
    color: darkgreen;
  }
  th.turn {
    color: darkcyan;
  }

}

.set {
  float: left;
  margin-left: 10px;
  a {
    padding-left: 3px;
    margin: 0;
    text-decoration: none;
    color: $text;
  }
  a:hover {
    text-decoration: underline;
  }
}

/*==================================================== Edge =========================================================*/

#edges {
  padding-left: 3px;
}

.edge {
  float: left;
  clear: both;
  width: 1100px;
  margin-top: 3px;
  .title {
    float: left;
    font-weight: bold;
    padding-top: 1px;
    padding-right: 5px;
  }
  .close {
    margin-top: 3px;
    float: right;
  }
}

.canvas-edge {
  float: left;
  clear: both;
  width: 1100px;
  height: 100px;
  border: 1px $border solid;
}


/*==================================================== Form ==========================================================*/

table.form {
  th, td {
    border: 1px solid $border;
    padding: 5px;
  }
  td.error {
    color: red;
  }
  td.message {
    color: brown;
  }
  input[type=image] {
    float: right;
  }
}

/*=================================================== Service ========================================================*/

table.service {
  th, td {
    border: 1px solid $border;
    padding: 5px;
  }
}


/*==================================================== Neuron ========================================================*/

.neurons {
  padding: 0px 5px 0px 5px;
}

.neuron {
  float: left;
  margin-left: 5px;
  //a.selected {
  //  text-decoration: underline;
  //}
  //a.deselected {
  //  text-decoration: none;
  //}
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  img {
    float: left;
    margin: 0px 1px 1px 1px;
    padding: 1px;
  }
}

td.neuron {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px $border solid;
}

a.neuron {
  position: relative;
  img {
    position: absolute;
    top: 2px;
    left: 2px;
    .light-img {
      z-index: 1;
    }
    .arrow-img {
      z-index: 2;
    }
  }
}

//.canvas-indicator.false {
//  border: 1px $border solid;
//  background: white;
//}
//
//.canvas-indicator.true {
//  //  background: lightgrey;
//  border: 1px black solid;
//}
//
//.range-indicator {
//  float: left;
//  clear: both;
//  width: 1000px;
//  margin-top: 10px;
//}
//
//#indicator-frame {
//  float: left;
//}
//
//#indicator-form {
//  float: left;
//}


/*================================================== Included  =======================================================*/

@import "node";
@import "service";
