
/*==================================================== Node ==========================================================*/

.node {
  float: left;
  clear: both;
  .name {
    font-size: $font-size-big;
  }
}
