.service {
  float: left;
  clear: both;
}

.service-control {
  clear: both;
  float: left;
  position: relative;
  width: 100%;
}

.new-service {
  float: left;
  clear: none;
}

.show-all {
  float: right;
  img {
    margin-bottom: -5px;
  }
}

//.button {
//  margin-top: 10px;
//  float: left;
//  clear: both;
//}